<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h1 class="text-6xl font-bold py-6">Build Better<br>
                Outstanding<br>
                Things</h1>
            <h6 class="text-lg"><em>Get your task assign in a snap! Our expert designer<br>
                will make your visualization comes working!</em></h6>
                <button class="btn-primary py-2 px-6 rounded-full flex items-center font-bold mt-6">
                    <span class="text-xl">Get Started</span>
                </button>
        </div>
        <div>
            <img class="w-3/4" src="/img/hero-banner-2.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto py-8">
    <h1 class="text-6xl font-bold mb-8 text-center">Our Services</h1>
    <div class="grid grid-cols-4 col-gap-12">
        <div class="w-80 rounded-xl px-4 shadow-xl">
            <img class="h-40 mb-4 mx-auto py-4" src="/img/service-1.png" alt="">
            <div class="text-center">
                <h2 class="text-xl font-bold mb-4 text-lg text-center">LOGO</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs">Get your brand logo in 3 working days with 2 revisions.</span>
                <div class="flex items-center justify-around py-4">
                    <span>Starting at</span>
                    <span class="font-bold text-lg">৳500 </span> <br>
                    <button class="add-to-cart py-1 px-2 rounded-full flex items-center font-bold">
                        <span class="text-xs">Order Now</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-80 rounded-xl px-4 shadow-xl">
            <img class="h-40 mb-4 mx-auto py-4" src="/img/service-2.png" alt="">
            <div class="text-center">
                <h2 class="text-xl font-bold mb-4 text-lg text-center">PORTRAIT</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs">Get your custom style portrait in 5 working days with 2 revisions.</span>
                <div class="flex items-center justify-around py-4">
                    <span>Starting at </span>
                    <span class="font-bold text-lg">৳500 </span> <br>
                    <button class="add-to-cart py-1 px-2 rounded-full flex items-center font-bold">
                        <span class="text-xs">Order Now</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-80 rounded-xl px-4 shadow-xl">
            <img class="h-40 mb-4 mx-auto py-4" src="/img/service-3.png" alt="">
            <div class="text-center">
                <h2 class="text-xl font-bold mb-4 text-lg text-center">BANNER</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs">Get your banner/flyer/poster in 5 working days with 2 revisions.</span>
                <div class="flex items-center justify-around py-4">
                    <span>Starting at </span>
                    <span class="font-bold text-lg">৳500 </span> <br>
                    <button class="add-to-cart py-1 px-2 rounded-full flex items-center font-bold">
                        <span class="text-xs">Order Now</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-80 rounded-xl px-4 shadow-xl">
            <img class="h-40 mb-4 mx-auto py-4" src="/img/service-4.png" alt="">
            <div class="text-center">
                <h2 class="text-xl font-bold mb-4 text-lg text-center">CARD</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs">Get your custom business card in 2 working days with 2 revisions.</span>
                <div class="flex items-center justify-around py-4">
                    <span>Starting at </span>
                    <span class="font-bold text-lg">৳500 </span> <br>
                    <button class="add-to-cart py-1 px-2 rounded-full flex items-center font-bold">
                        <span class="text-xs">Order Now</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>